.quiz-panel {
    width: 90%;
    height: 100%;
    background-color: var(--very-light-red);
    position: relative;
}

.score {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgba(127, 228, 127, 0.329);
    padding: 10px;
    border-radius: 5px;
    color: rgb(4, 105, 4);
    text-transform: uppercase;
}

.question-container {
position: absolute;
top: 15%;
left: 50%;
transform: translateX(-50%);
text-align: center;
}

.question-container .question {
    font-size: 1.6rem;
    background-color:#c170f344 ;
    padding: 20px 20px;
    margin: 2rem;
    border-radius: 3rem;
    line-height: 2.2rem;
}

.question-container .options-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}